@keyframes opac {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }

}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }

}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }

}

/* Top Sticky Menu */
#main-navigation-inner-h .ul-parent-account li {
  float: left;
}

#main-navigation-inner-h {
  padding-right: 50px;
  position: relative;
}

.w3-animate-opacity {
  animation: opac 0.8s;
}

.w3-animate-top {
  position: relative;
  animation: animatetop 0.5s;
}

.w3-animate-left {
  position: relative;
  animation: animateleft 0.5s ease-in;
}

.main-navigation-inner-v nav::after,
.main-navigation-inner-v ul::after,
.main-navigation-inner-v::after {
  content: "";
  clear: both;
  display: table;
}

.w3-animate-right {
  position: relative;
  animation: animateright 0.5s;
}

/*. Search Slide */
.search-slide-wrapper {
  width: 100%;
  z-index: 9999;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: hidden;
  transition: 0.5s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#header {
  z-index: 97;
}

.w3-sticky {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#search-slide form#search-block-form {
  width: calc(100% - 16px);
  max-width: 100% !important;
  padding: 9px 0 0 0 !important;
  margin: 0 16px;
}

#search-slide .w3-search-block-form .form-type-search:before {
  top: 31px;
}

#search-slide .search-slide-inner {
  position: relative;
  padding: 23px 61px 23px 0;
}

#search-slide form#search-block-form .form-item {
  float: left;
  width: 90%;
  margin: 0;
  padding: 0;
}

#search-slide form#search-block-form .form-actions {
  float: right;
  width: 10%;
  margin: 0;
  padding: 0;
}

.close-search,
.open-search,
.open-nav-inner {
  cursor: pointer;
}

#search-slide .close-search {
  position: absolute;
  display: flex;
  text-align: center;
  top: 38px;
  right: 16px;
  padding: 10px 9px;
  justify-content: center;
  justify-items: center;
}

#header-inner #open-nav-inner,
#header-inner #open-search {
  margin: 0 0 -0.01em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-width: 50px;
  min-height: 50px;
}

#header-inner #open-search {
  float: right;
}

#header-inner #open-nav-inner {
  float: left;
}

/* Header */
.block-system-branding-block {
  margin: 0 auto;
  float: none;
  text-align: center;
}

.site-slogan {
  padding-left: 0;
}

#main-navigation-v {
  z-index: 99;
}

.wrapper.w3-content #main-navigation-v {
  min-width: 250px !important;
}

.wrapper.w3-content {
  max-width: 1600px;
  margin: 0 auto !important;
}

@media (max-width:992px) {
  #header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
  }

}

@media (max-width:600px) {
  #search-slide .search-slide-inner {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  #search-slide form#search-block-form .form-actions {
    min-width: 50px;
    width: 25%;
  }

  #search-slide form#search-block-form .form-item {
    width: 75%;
  }

  #search-slide form#search-block-form {
    padding-right: 70px;
  }

  #search-slide .close-search {
    top: 40px;
    padding: 8px 9px;
  }

}

@media screen and (min-width:601px) {
  #header-inner #open-search {
    margin-right: -16px;
  }

  #header-inner #open-nav-inner {
    margin-left: -16px;
  }

}

@media screen and (min-width:993px) {
  #main-navigation-inner-h .open-search {
    padding: 15px;
  }

  .wrapper.w3-content .page-wrapper {
    margin-left: 250px !important;
  }

  .wrapper.w3-content #main-navigation-v {
    width: 250px !important;
    display: block !important;
  }

  .wrapper.w3-content #main-navigation-v #close-nav,
  .wrapper.w3-content #open-nav-inner {
    display: none !important;
  }

}
